@font-face { 
	font-family:'Tahoma';
	src:url(../fonts/Tahoma.ttf)
}


body {
	width:100%;
	margin: 0;
	padding: 0;
}

.main_header {
	background:url(../images/img_1.jpg) 50% 100% no-repeat;
	height:800px;
	margin-bottom:75px;
}

.content_layout,.content_layout1,.footer_layout,.header_1 {
	width:950px;
	margin:0 auto;
}

.content_layout1 {
	display:inline-block;
	position:relative;
	left:50%;
	transform:translateX(-490px);
}

.content {
	padding-bottom:30px;
}

.content .content_layout {
	margin-bottom:45px;
}

.box:after {
	display:table; 
	content:'';
	clear:both;
} 

.main_navigation li,.block_main i,.reviews>div,.choose_layout {
	display:inline-block;
} 

.main_menu .logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 24px;
	color:#ffffff;
	float:left;
	padding:20px 0;
	overflow-y:hidden;
	margin-top: 25px;
}

.logo a {
	text-decoration:none;
	color:#ffffff;
}

.main_navigation {
	float:right;
	font-size: 14px;
	list-style-type:none;
	color:#fff;
	max-width:700px;
	padding-top: 40px;
	font-family:'Tahoma';
}

.link a i {
	color:#ffffff;
	width: 20px;
	height: 20px;
} 

.fa {
	color:#ffffff;
}

.link a i:hover {
	color:#a6a6a6;
}

hr {
	border:none #f1f1f1;
	height:1px;
	background-color:#f1f1f1;
}

.main_navigation a:hover {
	color:#a6a6a6;
	text-decoration:underline;
	text-decoration:none;
} 

.button a,.header_intro a,.main_footer a,.main_navigation a {
	text-decoration:none;
	color:#ffffff;
}

.button div a {
	text-decoration:none;
	color: #ffffff;
}

.main_navigation a {
	color:#fff;

}

.main_navigation li { 
	vertical-align:baseline;
	margin-right:35px;
	text-align:right;
}

.main_navigation li:last-child {
	margin-right:0;
}

.main_navigation i {
	margin-right:15px;
}

.header_intro {
	color:#fff;
	max-width:600px;
}

.header_intro h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 60px;
	text-transform:uppercase;
	margin:0 0 30px;
	overflow:hidden;
}

.header_intro div:first-child {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 24px;
	margin-bottom:15px;
} 

.header_intro a {
	color:#fff;
} 

.main_menu {
	margin-bottom:200px;
}

.content .content_column2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px;
	color:#b7b7b7;
	text-align:left;
	float:right;
	word-wrap:break-word;
	width:450px;
	padding-right:5px;
	padding-left:25px;
} 

.content_column2 p {
	margin-bottom:44px;
	line-height: 1.7;
}

.content_column1 {
	float:left;
	text-transform:uppercase;
	width:315px;
	padding:85px 0;
	margin-right:140px;
} 

.content_column1 h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 48px;
	color:#464646;
}

.callback,.comments_header {
	width: 430px;
	margin:0 auto 100px;
	text-align:center;
}

.callback a,.comments_header a{
	text-decoration: none;
	line-height: 1.7;
}

.callback h3,.comments_header h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 30px;
	color: #464646;
}

.callback p,.comments_header p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 18px;
	color:#b7b7b7;
}

.callback a:hover,.comments_header a:hover{
	text-decoration: none;
}

.none {
	display: none;
}

.content hr {
	margin-bottom:105px;
}

.reviews,.reviews>div {
	margin-bottom:40px;
}

.reviews>div {
	width:300px;
	vertical-align:top;
	margin-right:20px;
}

.reviews p {
	line-height: 1.5;
}

.reviews .reviews_header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 18px;
	color: #464646;
	padding-right:30px;
}

.reviews .reviews_content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px;
	color:#b7b7b7;
}

.reviews>div:nth-child(3n) {
	margin-right:0
} 

.block_main i {
	vertical-align:baseline;
	width:64px;
	height:64px;
	margin:20px 0 10px;
}

.block_main .icon_reviews_1 {
	background:url(../images/ic_1.png) no-repeat;
}

.block_main .icon_reviews_2 {
	background:url(../images/ic_2.png) no-repeat;
}

.block_main .icon_reviews_3 {
	background:url(../images/ic_3.png) no-repeat;
}

.block_main .icon_reviews_4 { 
	background:url(../images/ic_4.png) no-repeat;
}

.block_main .icon_reviews_5 {
	background:url(../images/ic_5.png) no-repeat;
}

.block_main .icon_reviews_6 {
	background:url(../images/ic_6.png) no-repeat;
}

.slider {
	background-color:#faf9f9;
}
.comments h3,.slider_content h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 30px;
	margin-bottom:20px;
	color: #464646;
}

.slider_preview {
	float:left;
	padding:106px 0;
}

.slider_content {
	float:right;
	width:470px;
	padding:120px 0;
}

.slider_content p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 18px;
	color:#b7b7b7;
	margin:25px 0;
	padding-right:20px;
	width: 100px;
	line-height: 1.5;
}


.button_1,.button_3 {
	margin-right:25px;
}

.button {
	border-radius:10px;
}

.button_1,.button_2 {
	float:left;
	background-color:none;
	border:2px solid #fff;
}

.button a {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 16px;
	color:#fff;
}

.button_1 {
	padding:17px 40px 17px 40px;
	border-radius:5px;
}

.button_2 {
	padding:17px 30px 17px 30px;
	border-radius:5px;
}

.button .button_1:hover,.button .button_2:hover, .button_3 {
	background-color:#e92121;
}

.button .button_1:hover,.button .button_2:hover {
	border:2px solid transparent;
}

.button_3 {
	float:left;
	border-radius: 5px;
}

.slider_content a{
	display:inline-block;
}

.button_3 a:hover {
	color: #ffffff;
	text-decoration: none;
}

.button_3 a {
    color: #ffffff;
	text-decoration: none;
	padding: 16px 25px 16px 0px;
	text-align: left;
	padding-left: -500px;
}

.slider_prev {
	float:left;
}

.icon_next,.icon_prev {
	display:inline-block;
	width:21px;
	height:41px;
}

.choose {
	margin-bottom:25px;
}

.choose .content_layout {
	margin-bottom:0;
}

.instagram h2,.choose_col_1 h2,.jewelery h2 {
	margin:0;
	text-transform:uppercase;
	color:#464646;
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 48px;
}

.choose_col_1 {
	float:left; 
	width:270px;
	padding-top:165px;
	padding-bottom:105px;
}

.choose_col_2 {
	float:right;
	width:541px;
	padding-top:95px;
	font-size:0;
}

.choose_layout {
	vertical-align:top;
	width:223px;
	margin-right:95px;
	margin-bottom:70px;
} 

 .callback, .comments_header{
	background: url(../images/mersy_1.png) 50% 40% no-repeat;
}

 .slider_content {
	background: url(../images/mersy_1.png) 0% 40% no-repeat;
}

.instagram_content {
	background: url(../images/mersy_1.png) 0% 100% no-repeat;
}

.jewelery_main {
	background: url(../images/mersy_1.png) 12% 100% no-repeat;
}

.choose_layout p {
	 line-height: 1.5;
}

.choose_layout:nth-child(2n) {
	margin-right:0;
}

.choose_layout_header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 18px;
	color:#464646;
	margin:0 0 17px;
}

.choose_layout_content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px;
	color:#b7b7b7;
	margin:0;
	width:220px;
	word-wrap:break-word;
}

.jewelery img {
	margin-left:45px;
}

.jewelery {
	font-size:0;
	margin-bottom:78px;
} 

.jewelery h2 {
	margin-top:60px;
	margin-bottom:45px;
	width:250px;
	margin-left:45px;
	color: #464646;
	word-wrap:break-word;
	font-size: 44px;
	text-transform: uppercase;
}

.jewelery_main  {
	min-height:235px;
	width:470px;
	text-align:left;
	margin:0;
}


.images {
	display:inline-block;
	vertical-align:baseline;
	font-size:0;
	width:235px;
	height:235px;
}

.comments_item, .jewelery_main {
	display:inline-block;
	vertical-align:top;
} 

.jewelery_main  {
	margin-left: 50px;
}

.fl {
	margin-left: -40px;
}
.content_layout .images, .content_layout .instagram_layout {
	margin: -3px -3px;
}

.instagram_content1 p:first-child, .instagram_content1 p:last-child, .jewelery_content1 p:first-child, .jewelery_content1 p:last-child {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px;
	color:#b7b7b7;
	width:435px;
	margin-top:45px;
	line-height: 1.7;
}

.instagram_content1 p:first-child, .jewelery_content1 p:first-child {
	float:left;
	margin-right:35px;
}

.instagram_content1 p:last-child, .jewelery_content1 p:last-child {
	float:right;
} 

.comments_header {
	text-align:center;
	margin:0 auto 78px;
}

.comments_header>img {
	margin-bottom:15px;
} 

.comments_header>p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 18px;
	color:#b7b7b7;
	width:320px;
	margin:0 auto 25px;
}

.comments {
	background-color:#faf9f9;
	padding-top:45px;
	margin-bottom:100px;
}

.comments_item {
	font-size:0;
	width:300px;
	margin-right:25px;
	margin-bottom:70px;
}

.comments_item .item_header:before {
	display:inline-block;
	vertical-align:middle;
	background:url(../images/comment.png) no-repeat;
	width:38px;
	height:38px;
	background-size:38px 38px;
	content:'';
	padding-right:22px;
	margin-right: 20px;
}

.comments_item .item_header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 18px;
	color:#464646;
	margin:0;
}

.comments_item .item_content,.comments_item .item_title {
	padding-left:60px;
	margin:0 0 10px;
}

.comments_item .item_title {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 14px;
	color:#b7b7b7;
}

.comments_item .item_content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px;
	color:#b7b7b7;
	line-height: 1.5;
}

.comments_item .item_title, .comments_item .item_content {
	margin-left: 20px;
}

.comments_items {
	display:inline-block;
	vertical-align:top;
	font-size:0;
	margin-bottom:18px;
}

.comments_items div:nth-child(3n) {
	margin-right:0;
}

.instagram {
	font-size:0;
}

.instagram_content h2 {
	margin-top:60px;
	margin-bottom:45px;
	width:300px;
	word-wrap:break-word;
}

.instagram_layout {
	display:inline-block;
	vertical-align:baseline;
	font-size:0;
	width:235px;
	height:235px; 
}

.instagram_content {
	display:inline-block;
	vertical-align:top;
	min-height:235px;
	width:460px;
	text-align:left;
	margin:0;
}

.main_footer {
	background-color:#141414;
}

.main_footer .logo_1 a{
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 24px;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:50px;
	max-width:120px;
	word-wrap:break-word;
}

.main_footer a {
	color:#474747;
}

.main_footer a:hover {
	text-decoration:underline;
	color: #3d3d3d;
}

.footer_menu_items {
	width:400px;
	list-style-type:none;
	padding:0;
	margin-top: 50px;
}

.footer_menu_item {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px;
	color:#474747;
	display:inline-block;
	vertical-align:baseline;
	width:165px;
	margin-right:30px;
}

.footer_menu_item a {
	line-height: 1.7;
}

.footer_menu_items:nth-child(2n) {
	margin-right:0;
}

.footer_menu {
	padding:35px 0;
	float:left;
}

.social {
	display:inline-block;
	vertical-align:top;
	margin-bottom:55px;
}

.social a {
	margin-right:10px;
	text-decoration:none;
	color:#fff;
	opacity:0.2;
}

.social a:hover {
	opacity:1;
	text-decoration:none;
}

.social a:last-child {
	margin-right:0;
}

.footer_col_2 {
	padding:75px 0;
	float:right;
	text-align:right;
	margin-top: -40px;
	line-height: 1;
}

.fa {
	padding-left: 10px;
}

.logo_1 a {
	text-decoration: none;
}

.footer_copyright {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px;
	color:#474747;
	width:200px;
	word-wrap:break-word;
}

.slider_content p {
	width: 100px;
}

.slider_main {
	width: 1350px;
	margin: 0 auto;
}

.slider_place {
	width: 100%;
	height: 630px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.slider_place .slider {
	white-space: nowrap;
}
.slider_place .slider .slider_main{
	display: inline-block;
}

.next{
	right: 30px;	
}

.prev{
	left: 30px;
}

.next, .prev{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #faf9f9;
}

.next {
	background: url(../images/arrow_right.png) no-repeat;

}

.prev {
	background: url(../images/arrow_left.png) no-repeat;
}

.pop_up_bg, .pop_up_inst_bg{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0.5);
	display: none;
}

.pop_up_in img, .pop_up_inst_in img{
	width: 500px;
	height: 500px;
	margin-left: 28px;
	margin-top: 28px;
}

.pop_up_1, .pop_up_2, .pop_up_3, .pop_up_4, .pop_up_5, .pop_up_6, .pop_up_inst_1, .pop_up_inst_2, .pop_up_inst_3, .pop_up_inst_4, .pop_up_inst_5, .pop_up_inst_6{
	display: none;
	position: absolute;
	background: #ffffff;
	width: 550px;
	height: 550px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.pop_up_in, .pop_up_inst_in {
	display: inline-block;
}

.mobile, .instagram_content_mobile {
	display: none;
}

.comments_items_mobile, .menu_mobile{
	display: none;
}

.mobile_slider {
	display: none;
}

.mobile_menu {
	display: none;
}

@media (max-width: 1020px) {
	.main_navigation  {
    	display: none;
    }
    .header_1 {
    	margin: 10px; 
    }
    .content .content_column2 {
    	width: 90%;
    }

    .content .content_column1 {
     	margin-left: 140px;
    	width: 90%;
    }

     .content .content_column2 p {
    	width: 750px;
    }

    .content_layout {
    	width: 500px;
    }  
}

@media (max-width: 640px) {
	.main_header, html {
		width: 420px;
	}

    .main_navigation {
    	display: none;
    }

    .create {
    	font-size: 24px;
    }

    .header_intro h1 {
    	font-size: 44px;	
    }

	.button_1 {
		padding:15px 30px 15px 30px;
		border-radius:5px;
	}

	.button_2 {
		padding:15px 20px 15px 20px;
		border-radius:5px;
	}

    .button a {
    	font-family: 'Roboto', sans-serif;
		font-weight: 700; 
		font-size: 12px;
    }

    .header_1, .content{
     	margin-left: 35px;
     	margin-top: -30px;
    }

    html {
    	margin-top: -5px;
    }

    .header_1 h1 {
    	width: 400px;
    }

    .content_column2{
    	margin-top: -130px;
    }

    .content .content_column1 h2 {
    	font-size: 48px;
    	width: 300px;
    	margin-left: 200px;
    	margin-top: -100px;
    }

    .content .content_column2 p {
    	margin-left: 315px;
    	width: 300px;
    	margin-bottom: -10px;
    }

    .callback a p br {
		display: none;
	}

	.callback, .reviews {
		margin-left: 20px;
	}

	hr {
		display: none;
	}

	.callback a p {
		width: 300px;
		font-size: 16px;
		margin-left: 0px;
		margin-bottom: -60px;
	}

    .slider, .next, .prev, .slider_place {
    	display: none;
    }

    .content_layout{
    	margin-left: -10px;
    } 

    .choose_col_2, .choose_layout {
    	display: block;
    	margin-left: 230px;
    }

    .choose_col_2, .choose_col_1  {
    	margin-top: -170px;
    	margin-left: 10px;	
    }

    .jewelery h2 {
    	margin-top: -70px;
    	background: url(../images/mersy_1.png) 0% 100% no-repeat;
    	padding-bottom: 30px;
    }

    .choose_layout p {
    	width: 300px;
    	margin-left: 10px;
    }

    .none {
    	display: inline-block;
    }

    .jewelery .box, .instagram .box {
    	width: 300px;
    }

    .images img, .instagram_layout img {
    	display: block;
    	background-size: cover;
    	width: 150px;
    	height: 150px;
    }

    .images.img1, .images.img2, .images.img3, .images.img4, .images.img5, .images.img6, .instagram_layout.img_1, .instagram_layout.img_2, .instagram_layout.img_3, .instagram_layout.img_4, .instagram_layout.img_5, .instagram_layout.img_6{
    	width: 150px;
    	height: 150px;
    }

   	.content_layout h2 {
    	margin-left: 20px;
    }

    .content_layout .images img {
      	margin-left: 60px;
    }

    .content_layout .instagram_layout img {
      	margin-left: 20px;
    }

   	.slider_place, .jewelery_main{
    	display: none;
    }

    .slider_content {
    	margin-left: -400px;
    }

    .pop_up_1, .pop_up_2, .pop_up_3, .pop_up_4, .pop_up_5, .pop_up_6, .pop_up_inst_1, .pop_up_inst_2, .pop_up_inst_3, .pop_up_inst_4, .pop_up_inst_5, .pop_up_inst_6{
		margin-left: 160px;
		margin-top: 180px;
		width: 340px;
		height: 340px;
	}

	.pop_up_in img, .pop_up_inst_in img{
		width: 300px;
		height: 300px;
	}

	.pop_up_in img {
		margin-left: 20px !important;
	}

	.jewelery .jewelery_content1 p, .instagram .instagram_content1 p {
		width: 300px;
	}

	.jewelery_content1 {
		margin-left: 20px;
	}

	.comments .comments_header {
		width: 400px;
		margin-left: -50px;
	}

	.comments {
		padding: 10px;
		
	}
	.comments_header a p {
		font-size: 18px;
	}

	.comments_header a p br {
		display: none;
	}

	.comments_header {
		background: url(../images/mersy_1.png) 55% 55% no-repeat;
	}


	.instagram_content, .instagram_content1 p:last-child {
		display: none;
	}

	.instagram_content1 {
		margin-top: -40px;
		
	}

	.instagram_content_mobile  {
		background: url(../images/mersy_1.png) 10% 95% no-repeat;
	}


	.instagram_content1 p {
		margin-left: 20px;
		padding-bottom: 50px;
	}

	.instagram_content_mobile {
		display: inherit;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.instagram_content_mobile img{
		margin-top: 20px;
	}

	.footer_menu_item {
		width: 100%;
	}

	footer {
		margin-top: -140px;

	}

	.footer_layout {
		margin-left: 40px;
	}

	.footer_menu_items li a {
		font-size: 14px;
	}

	.footer_menu_items li {
		padding: 0px;
		margin: 0px;
	}

	.main_footer div {
		width: 300px;
	}

	.footer_col_2, .footer_copyright {
		margin: 2px;
		padding: 2px;
		text-align: left;
	}

	.footer_col_2 {
		display: table;
	}

	.social {
		width: 100%;
		display: table-footer-group;
	}

	.footer_copyright {
		width: 100%;    
		display: table-header-group;
	}

	.social a i {
		margin-top: 20px;
		margin-left: -10px;
	}

	.comments_items_mobile {
		display: inherit;
	}

	.show_menu {
		display: inline-block;
		padding: 10px;
	}

	nav ul {
		display: none;
	}

	.nav_01 {
		background: url(../images/comment.png) 0% 10% no-repeat;
		margin-bottom: 10px;
	}

	.images_close {
		float: right;
		margin-right: 15px;
	}

	.nav_01 {
		margin-right: 0px;
		margin-left: 0px;
	}

	.nav_01 span {
		width: 310px;
		font-size: 18px;
		font-weight: bold;
		color: #464646;
	}

	.show_menu {
		background: url(../images/open.jpg) 90% 0% no-repeat;
	}

	.clicked {
		background: url(../images/close.jpg) 90% -10% no-repeat;
	}

	.clicked img {
		display: none;
	}

	.nav_01 ul {
		font-size: 16px;
		color: #bbbbbb;
		list-style-type: none;
		margin-top: -27px;
		margin-left: 30px;
	}

	.nav_01 ul li {
		padding-top: 20px;
	}

	.title {
		margin-left: 70px;

	}

	.nav_01 .item_title {
		font-family: 'Roboto', sans-serif;
		font-weight: 300; 
		font-size: 14px;
		color:#b7b7b7;
	}

	.nav_01 .item_content {
		font-family: 'Roboto', sans-serif;
		font-weight: 300; 
		font-size: 16px;
		color:#b7b7b7;
	}

	.show_menu img {
		margin-top: -40px;
	}

	.menu_mobile {
	    display: list-item;
	}

	.comments_items {
	    display: none;
	}

	.mobile_slider {
		display: list-item;
		width: 300px;
	}

	.mobile_slider .content_layout1 .box div{
		display: inline-block;
	}

	.slider_preview {
		margin-left: 350px;
	}

	.content_layout1 .box div, .slider_content p{
		width: 300px;
	}

	.comments_header h3 {
		margin-left: 20px;
	}

	.comments_header a p {
		margin-left: 40px;
	}

	.slider_content h3, .slider_content p, .slider_content img, .button_3 {
		margin-left: 520px;
		width: 300px;	
	}

	.mobile_slider .slider_content {
		background: url(../images/mersy_1.png) ;
		margin-top: -60px;
	}

	.button_3 {
		width: 25%;
	}

	.slider_preview img {
		margin-bottom: -200px;
		margin-top: -200px;
	}

	.slider_content p {
		font-size: 16px;
	}

	.slider_content br {
		display: none;
	}

	.mobile_slider .slider_content h3 {
		background: url(../images/mersy_1.png) 0% 100% no-repeat;
		padding-bottom: 30px;
	}

 	.main_menu, .header_intro h1, .content_layout .box, .comments_header h3, .comments_header, .content_layout, .callback h3, .callback, .header_intro, .header_1, .main_menu .box, .content, .content_layout1, .content_layout, .slider .box, .choose, .jewelery, .comments, .instagram, .main_footer .box, footer{
		width: 100%; 
	}

	footer {
		margin-top: -30px;
	}

	.footer_menu_items {
		width:300px;
		list-style-type:none;
		padding:0;
	}

	.footer_menu_item {
		font-family: 'Roboto', sans-serif;
		font-weight: 300; 
		font-size: 14px;
		color:#474747;
		display:inline-block;
		vertical-align:baseline;
		width:145px;
		margin-right:15px;
	}

	.footer_menu_items li {
		padding-right: 3px;
	}

	.comments_header {
		width: 280px;
		margin: 0;
		padding: 0;
	}

	.content_layout.box, .content_layout.box, .header_1 .box, .content, .main_menu.box, main, .header_1, .header_intro h1 {
		width: 320px;
	}

	.mobile_menu {
		display: inherit;
		
	}

	.logo a {
		margin-left: 210px;
	}

	input#navi {
		width: 0;
		height: 0;
	}

	.show_navi {
		height: 50px;
		width: 50px;
		position: absolute;
		right: 0;
		top: 0;
		background: #e92121;
		display: block;
	}

	.show_navi:after {
		width: 20px;
		height: 3px;
		box-shadow: 0 5px #ffffff,0 -5px #ffffff;
		content: '';
		background: #ffffff;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

	.box_nav ul{
		position: absolute;
		width: 360px;
		top: 50%;
		background: #141414;
		left: 0;
		z-index: 2;
		display: none;
	}

	.box_nav ul li {
		display: block;
		padding: 10px;
		border: 1px solid #ffffff;
	}

	.box_nav input:checked+ul {
		display: block;
	}

	.box_nav a {
		text-decoration: none;
		color: #ffffff;
		font-size: 24px;
		text-align: center;
    }
}

	



